@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  background-color: #f0e2c5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header section */
header {
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
}

.container {
  width: 300px;
  height: 150px;
}

.img-o {
  background-image: url(images/pngwing.com.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  background-position: center;
  margin-top: 30px;
  margin-right: 95px;
  margin-left: 80px;
}
.content {
  display: inline-block;
  width: 500px;
}

header h1,
#our-menu h1,
#about-us h1,
#contact-us h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
  color: #49281a;
}
header p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0;
}
header a {
  background-color: #49281a;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* nav section */
nav {
  /* border: 1px solid#000; */
  text-align-last: center;
  padding: 20px 0;
}
nav ul li {
  display: inline-block;
  border: 1px solid#000;
  padding: 10px 20px;
  margin-right: 10px;
}
nav ul li:hover {
  box-shadow: 2px 2px 2px #000;
}
nav ul li a {
  text-decoration-line: none;
  color: #000;
}

/* our menu section */
.menu {
  /* border: 1px solid#000; */
  text-align: center;
}
.menu h2 {
  font-family: lato sans-serif;
  padding: 10px 0;
  text-align: left;
}
.card {
  border: 1px solid#000;
  width: 250px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  font-family: lato sans-serif;
  border-radius: 4px;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 4px;
}
.card h3 {
  padding: 10px;
}
.card p {
  line-height: 1.5;
}
.card .price {
  font-weight: bold;
  font-style: italic;
}
.card button {
  width: 100%;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

/* about-us section */
#our-menu,
#about-us,
#contact-us,
footer {
  /* border: 1px solid#000; */
  width: 80%;
  margin: 30px auto;
  padding: 10px;
}
#about-us p,
#contact-us p,
footer p {
  margin: 10px 0;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

/* contat-us section */
form {
  /* border: 1px solid#000; */
}
form div {
  padding: 10px;
}
.form-label {
  /* background: red; */
  width: 30%;
  display: inline-block;
  text-align: right;
}
.form-control {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid#000;
}

.btn-submit {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 30px auto;
}
footer p {
  text-align: center;
  font-size: 0.9em;
}
.main-element {
  background-color: #f0e2c5;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
